<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        {% if site.email != nil %}<a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa-solid fa-envelope"></i></a>{% endif %}
        {% if site.gscholar != nil %}<a aria-label="Google Scholar" href="https://scholar.google.com/citations?user={{site.gscholar}}"><i class="icon fa-brands fa-google-scholar"></i></a>{% endif %}
        {% if site.orcid != nil %}<a aria-label="Google Scholar" href="https://orcid.org/{{site.orcid}}"><i class="icon fa-brands fa-orcid"></i></a>{% endif %}
        {% if site.instagram_username != nil %}<a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/{{site.instagram_username}}"><i class="icon fa-brands fa-instagram" aria-hidden="true"></i></a>{% endif %}
        {% if site.facebook_username != nil %}<a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/{{site.facebook_username}}"><i class="icon fa-brands fa-facebook" aria-hidden="true"></i></a>{% endif %}
        {% if site.linkedin_username != nil %}<a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i class="icon fa-brands fa-linkedin" aria-hidden="true"></i></a>{% endif %}
        {% if site.github_username != nil %}<a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa-brands fa-github-alt" aria-hidden="true"></i></a>{% endif %}
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
</div>
